.homeHero {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  .heroImage {
    max-height: 600px;
    overflow: hidden;
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .heroText {
    grid-area: 1/1/2/2;
    margin: 4rem;
    background: rgba(white, 0.4);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .title {
      font-size: clamp(1rem, 4vw, 4rem);
      font-weight: bold;
    }

    .subtitle {
      font-size: clamp(0.8rem, 2vw, 2rem);
    }
  }
}

.homeAbout {
  text-align: center;
  padding: 7rem 3rem;
  background-color: var(--theme-secondary);

  .detailContainer {
    max-width: 700px;
    margin: auto;

    .about-title {
      margin-top: 2rem;
      font-size: 3rem;
    }

    .about-detail {
      margin-top: 2rem;
    }
  }
}

.homeVision {
  text-align: center;
  padding: 7rem 3rem;

  .detailContainer {
    max-width: 700px;
    margin: auto;

    .visionTitle {
      margin-top: 2rem;
      font-size: 4rem;
    }

    .visionDetail {
      margin-top: 2rem;
    }
  }
}


.homeMission {
  text-align: center;
  padding: 7rem 3rem;
  background-color: var(--theme-secondary);

  .detailContainer {
    max-width: 700px;
    margin: auto;

    .missionTitle {
      margin-top: 2rem;
      font-size: 4rem;
    }

    .missionItems {
      text-align: left;
    }
  }
}

.homeActivities {
  text-align: center;
  padding: 7rem 3rem;

  width: 95%;
  max-width: 1200px;
  margin: auto;

  .activityTitle {
    font-size: clamp(2rem, 4vw, 4rem);
  }

  .activitySubTitle {
    font-size: clamp(1rem, 2vw, 1.5rem);
    margin-bottom: 2rem;
  }

  .activityItems {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    .activityItemTitle {
      font-size: 1.5rem;
    }

    .activityItemSubTitle {
      font-size: 1rem;
      margin-bottom: 0;
    }

    .primaryTile {
      background-color: var(--theme-primary);
      color: var(--white);
    }

    .secondaryTile {
      background-color: var(--theme-secondary);
    }

    .darkTile {
      background-color: var(--dark);
      color: var(--white);
    }
  }
}


.homeFounders {
  text-align: center;
  padding: 7rem 3rem;
  background-color: var(--light);

  .founderContainer {
    max-width: 800px;
    margin: auto;
    width: 90%;
  }

  .founderTitle {
    font-size: clamp(2rem, 4vw, 4rem);
  }

  .founderTile {
    text-align: left;
    margin: 2rem 0;

    .founderName {
      font-size: 2rem;
      //font-weight: bold;
    }

    .founderSub {
      font-size: 1rem;
      color: var(--gray);
    }

    .founderDesc {
      margin-top: 1.5rem;
      text-align: justify;
    }
  }
}

.homeMembers {
  text-align: center;
  padding: 7rem 3rem;
  background-color: var(--theme-secondary);

  .memberContainer {
    max-width: 1200px;
    margin: auto;
    width: 95%;
  }

  .memberHeader {
    font-size: clamp(2rem, 4vw, 4rem);
  }

  .memberSubHeader {
    font-size: clamp(1rem, 2vw, 1.5rem);
    margin-bottom: 2rem;
  }

  .memberWrapper {
    display: grid;
    grid-row-gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    .memberTile {
      place-self: center;
      text-align: center;

      .memberImage {
        max-width: 200px;
        width: 100%;
      }

      .memberName {
        margin-top: 1rem;
      }

      .memberDesignation {
        color: var(--gray);
      }
    }
  }
}

@media (min-width: 700px) {
  .homeHero {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;

    .heroText {
      grid-row: 1/2;
      grid-column: 1/2;
      //grid-template-rows: 1fr;
    }

    .heroImage {
      grid-area: 1/1/2/4;
    }
  }

  .homeMission {
    .detailContainer {
      .missionItems {
        text-align: center;
      }
    }
  }
}
